# Keycloak SSO Apps
SSO_APPS_URL=https://keycloak-apps.cloud.imio-test.be/realms/sso-apps/protocol/openid-connect/token
SSO_APPS_CLIENT_ID=imio-apps-teleservices
SSO_APPS_CLIENT_SECRET=<your-client-secret>
SSO_APPS_USER_USERNAME=imio-apps-teleservices_belleville-ac
SSO_APPS_USER_PASSWORD=<your-password>

# Smartweb
SMARTWEB_URL=https://ans.staging.imio.be
SMARTWEB_URI=ans

# Postgres (local dev)
POSTGRES_PASSWORD=password
